#arrow {
  position: fixed;
  top: 0;
  left: 0;
  color: #f6f4e6;
  font-size: 3rem;
  margin: 20px;
  transition: 0.6s;
}

#arrow.notLoaded {
  left: -200px;
}

#arrow:hover {
  color: #fddb3a;
}

h1 {
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

table {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  border-collapse: collapse;
  margin: 80px auto;
  background-color: #222831;
}

tr:nth-child(even){
  background-color: #2b333d;
}

td,
th {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #222831;
}

tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

tbody > tr:hover {
  background-color: #393E46;
  transform: scale(1.02);
}

thead {
  color: black;
  background-color: #FFD369;
}

h1, table {
  opacity: 1;
  transition: 2s;
}

h1.notLoaded, table.notLoaded{
  opacity: 0;
}

.th-sort-asc::after{
  content: "\25b4";
}

.th-sort-desc::after{
  content: "\25be";
}

.th-sort-asc::after,
.th-sort-desc::after {
  margin-left: 5px;
}

.th-sort-asc,
.th-sort-desc {
  background: #b18623;
}

@media screen and (max-width: 1400px) {
  #arrow {
    position: absolute;
  }
}
